{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} {% load static %} {% load crispy_forms_tags %} {% block head_title %}{% trans "SignIn" %}{% endblock %}
{% block csslink %}
<style type="text/css">
.labelpass {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
}

.hide-password {
    display: none
}

.show-password {
    cursor: pointer;
}

.hide-password {
    cursor: pointer;
}
input[type=checkbox]:not(old) {
    display: block !important;
}
</style>
{% endblock csslink %} {% block content %}
<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            {% if form.non_field_errors %} {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>{{ error }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="flaticon-cancel"></i></span>
                </button>
            </div>
            {% endfor %} {% endif %}
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'img/signin-image.jpg' %}" alt="sing up image"></figure>
                    <p>If you don't have an account? Then please</p>
                    <a href="{{ signup_url }}" class="signup-image-link">Create an account</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <form class="user" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                        <div class="form-group">
                            <label class="label" for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label> {{form.login}}
                        </div>
                        <div class="form-group">
                            <label class="label" for="id_password"><i class="zmdi zmdi-lock"></i></label> {{form.password}}
                                <span class="password-showhide labelpass">
                                    <span class="show-password"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    <span class="hide-password"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                </span>
                        </div>
                        <div class="form-group">
                            
                            <label for="id_remember" class="label-agree-term"><span>{{form.remember}}</span> Remember me</label>
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                        <a class="signup-image-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a title="Google" href="/accounts/google/login/?process=login" class="socialaccount_provider google"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %} {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
$(document).ready(function() {

    $(".show-password, .hide-password").on('click', function() {
        var passwordId = $(this).parents('div:first').find('input').attr('id');
        if ($(this).hasClass('show-password')) {
            $("#" + passwordId).attr("type", "text");
            $(this).parent().find(".show-password").hide();
            $(this).parent().find(".hide-password").show();
        } else {
            $("#" + passwordId).attr("type", "password");
            $(this).parent().find(".hide-password").hide();
            $(this).parent().find(".show-password").show();
        }
    });
});
</script>
{% endblock script %}