{% extends "account/base.html" %} {% load i18n %} {% load account %} {% block head_title %}{% trans "Password Reset" %}{% endblock %}{% block csslink %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/"> {% endblock csslink %} {% block content %}
<div class="container py-5 m-auto">
    <div class="row">
        <div class="col-md-12">
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <h3 class="form-title">Password change successful</h3>
                    <h5 class="m-about">Your password was changed.</h5>
                    <a href="{% url 'userdetail' user.pk %}" class="btn btn-success">Go to Your Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}