{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block csslink %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
<style>
    .container_rem {
        height: 20rem;
        background: #f2f2f2 !important;
    }
    
    .justify_text {
        padding: 6rem 0px 6rem 0px;
    }
    
    .main {
        background: #fff !important;
    }
</style>
{% endblock csslink %} {% block content %}
<div class="main">
    <section class="text-center p-0">
        <div class="container container_rem">
            <div class="justify_text">
                <h1>{% trans "Change Password" %}</h1>
                <p class="text-dark">{% trans 'Your password is now changed.' %}</p>
                <a href="{% url 'account_login' %}" class="text-light form-submit">LogIn</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}