{% extends "account/base.html" %} {% load i18n %} {% load account %} {% block head_title %}{% trans "Password Reset" %}{% endblock %}{% block csslink %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/"> {% endblock csslink %} {% block content %}
<div class="main">
    <!-- Sign up form -->
    <section class="text-center">
        <div class="container">
            <div class="justify-content-center">
                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-signin user">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="zgJKPmgpyOFlzVaIpaRyfbFO2r9aeHJpNm45W0mATy6BBpEh9KhOEGR3qItazlGc">
                    <label for="id_email" class="sr-only">Email address</label>
                    <input type="email" name="email" placeholder="E-mail address" required="" id="id_email" class="form-control" autofocus>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Reset My Password">
                    </div>
                </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}