{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block csslink %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

<style>
    .container_rem {
        height: 33rem;
        background: #f2f2f2 !important;
    }
    
    .justify_text {
        padding: 5rem 0px 6rem 0px;
    }
    
    .main {
        background: #fff !important;
    }
    
    input {
        width: 100%;
        /* display: block; */
        border: none;
        border-bottom: 1px solid #999;
        padding: 6px 30px;
        font-family: Poppins;
        box-sizing: border-box;
    }
    
    label {
        display: none !important;
    }
    
    .labelpass {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        color: #222;
    }
    
    .hide-password {
        display: none
    }
    
    .show-password {
        cursor: pointer;
    }
    
    .hide-password {
        cursor: pointer;
    }
</style>

{% endblock csslink %} {% block content %}
<div class="main">
    <section class="text-center p-0">
        <div class="container container_rem">
            <div class="justify_text ">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-dark">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %} {% if form %}
                <!-- <form method="POST" action="{{ action_url }}">
                    {% csrf_token %} {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'change password' %}" />
                </form> -->
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>{{form.errors}}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="flaticon-cancel"></i></span>
                    </button>
                </div>
                {% endif %}
                <form method="POST" action="{{ action_url }}" class="password_reset form-signin user">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.password1}}
                        <span class="password-showhide labelpass">
                            <span class="show-password"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <span class="hide-password"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="form-group">
                        {{form.password2}}
                        <span class="password-showhide labelpass">
                            <span class="show-password"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        <span class="hide-password"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <input type="submit" name="action" class="form-submit" value="change password">
                </form>

                {% else %}
                <p class="text-dark">{% trans 'Your password is now changed.' %}</p>
                {% endif %} {% endif %}

            </div>
        </div>
    </section>
</div>
{% endblock %} {% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        $(".show-password, .hide-password").on('click', function() {
            var passwordId = $(this).parents('div:first').find('input').attr('id');
            if ($(this).hasClass('show-password')) {
                $("#" + passwordId).attr("type", "text");
                $(this).parent().find(".show-password").hide();
                $(this).parent().find(".hide-password").show();
            } else {
                $("#" + passwordId).attr("type", "password");
                $(this).parent().find(".hide-password").hide();
                $(this).parent().find(".show-password").show();
            }
        });
    });
</script>
<script>
    var label = document.getElementsByTagName('label');
    var password1 = document.getElementsById('id_password1');
    var password2 = document.getElementsById('id_password2');

    for (var field in password1) {
        password1[field].className += ' form-control '
    }
    for (var field in password2) {
        password2[field].className += ' form-control '
    }
    for (var field in label) {
        label[field].className += ' sr-only '
    }
</script>
{% endblock script %}