{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} {% load static %} {% load crispy_forms_tags %} {% block head_title %}{% trans "SignUp" %}{% endblock %} {% block csslink %}
<style>
    input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: block !important;
}

input[type=checkbox]:not(old)+label {
    margin-top: 0px !important;
    margin-left: 2rem;
}

.form_group_terms {
    position: relative;
    margin-bottom: 25px;
}

.term-service {
    font-size: 13px;
    color: #0433FC !important;
}

.signup-content {
    padding: 75px 0 0 0 !important;
}

.labelpass {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
}

.hide-password {
    display: none
}

.show-password {
    cursor: pointer;
}

.hide-password {
    cursor: pointer;
}
</style>
{% endblock csslink %} {% block content %}
<div class="main">
    <!-- section Sign up form -->
    <div class="container">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>{{form.errors}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="flaticon-cancel"></i></span>
            </button>
        </div>
        {% endif %}
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign Up</h2>
                <form class="signup user" id="signup_form" method="post" action="{% url 'account_signup' %}" onsubmit="return checkForm(this);">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="label" for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <!-- <input type="text" name="name" id="name" placeholder="Your Name" /> -->
                        {{form.username}}
                    </div>
                    <div class="form-group">
                        <label class="label" for="email"><i class="zmdi zmdi-email"></i></label> {{form.email}}
                        <!-- <input type="email" name="email" id="email" placeholder="Your Email" /> -->
                    </div>
                    <div class="form-group">
                        <label class="label" for="pass"><i class="zmdi zmdi-lock"></i></label> {{form.password1}}
                        <span class="password-showhide labelpass">
                            <span class="show-password"><i class="fa fa-eye" aria-hidden="true"></i></span>
                            <span class="hide-password"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                        </span>
                        <!-- <input type="password" name="pass" id="pass" placeholder="Password" /> -->
                    </div>
                    <div class="form-group">
                        <label class="label" for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label> {{form.password2}}
                        <span class="password-showhide labelpass">
                            <span class="show-password"><i class="fa fa-eye" aria-hidden="true"></i></span>
                            <span class="hide-password"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                        </span>
                    </div>
                    <div class="form_group_terms">
                        {{form.terms}}
                        <label class="label" for="agree-term" class="label-agree-term">I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register">
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="{% static 'img/signup-image.jpg' %}" alt="sing up image"></figure>
                <p>Already have an account? Then please <a href="{{ login_url }}" class="signup-image-link">sign in</a></p>
            </div>
        </div>
    </div>
    <!-- section Sign up form -->
</div>
{% endblock content %} {% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function() {

    $(".show-password, .hide-password").on('click', function() {
        var passwordId = $(this).parents('div:first').find('input').attr('id');
        if ($(this).hasClass('show-password')) {
            $("#" + passwordId).attr("type", "text");
            $(this).parent().find(".show-password").hide();
            $(this).parent().find(".hide-password").show();
        } else {
            $("#" + passwordId).attr("type", "password");
            $(this).parent().find(".hide-password").hide();
            $(this).parent().find(".show-password").show();
        }
    });
});
</script>
<script>
var form_fields = document.getElementsByTagName('input')
// form_fields[1].placeholder='First Name';
// form_fields[2].placeholder='Last Name';
// form_fields[3].placeholder='User Name';
// form_fields[4].placeholder='Email Address';
// form_fields[5].placeholder='Enter Password';
// form_fields[6].placeholder='Re-enter Password';


for (var field in form_fields) {
    form_fields[field].className += ''
}
</script>
<script>
var form_pass1 = document.getElementsById('id_password1')
// form_pass1.placeholder='Enter Password';

for (var field in form_pass1) {
    form_pass1[field].placeholderName += 'Enter Password'
}
</script>
<script>
var form_pass2 = document.getElementsById('id_password2')
// form_pass2.placeholder='Re-enter Password';

for (var field in form_pass2) {
    form_pass2[field].placeholderName += 'Re-enter Password'
}
</script>
{% endblock script %}